/**************/
/* header*/
/*************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0px 4.8rem;
}
.nav--list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}

.list--link {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}

/**************/
/* Hero Section */
/*************/
.section--hero {
  padding: 9.6rem;
  background: hsl(217, 28%, 15%);
  background-image: url("images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.hero--container {
  max-width: 130rem;
  padding: 0 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro--img {
  display: inline-block;
  width: 65%;
}

.hero--description {
  font-size: 1.8rem;

  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 0 32rem;
  line-height: 3.12rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 8.2rem;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s;
}
.cta:link,
.cta:visited {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
}
/**************/
/* Section Features */
/*************/
.section-features {
  padding: 9.6rem 0;
}
.features__area {
  width: 37.5rem;
  text-align: center;
}
.icon__access {
  margin-bottom: 1rem;
}
.features__title {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/**************/
/* Section Productivity */
/*************/
.section-productivity {
  padding: 9.6rem 0;
}
.heading__secondary {
  font-size: 2.675rem;
  font-weight: 700;
  text-align: left;
  color: hsl(0, 0%, 100%);
  line-height: 1.6rem;
  margin-bottom: 3.5rem;
}
span {
  display: block;
  margin-top: 1rem;
}
.text-box {
  text-align: left;
  padding: 1.8rem;
}
.description-P1 {
  margin-bottom: 1rem;
}
/**************/
/* Section testimonial */
/*************/
.section-review {
  padding: 9.6rem 0;
}
.bg-quote-icon {
  position: absolute;
  top: -30px;
  left: -10px;
}
.testimonial__card--content {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  margin-top: 1.5rem;
}
.testimonial__card--info {
  margin-left: 1.5rem;
}
.testimonial__card {
  width: 375px;
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
  padding: 2.8rem;
  text-align: left;
}
.testimonial__card--des {
  opacity: 0.8;
  line-height: 1.5;
  font-weight: 400;
}
.testimonial__info--name {
  font-weight: 700;
  font-size: 1.4rem;
}
.testimonial__info--job {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  margin-top: 0.8rem;
}

.testimonial__card--img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

/**************/
/* Section get access */
/*************/
.section-getAccess {
  padding: 9.6rem 0;
}

.get__access--container {
  max-width: 88rem;
  min-height: 30rem;
  background-color: hsl(219, 30%, 18%);
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
}
.heading__tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  line-height: 1.6rem;
  margin-bottom: 3.5rem;
}

.get__access--des {
  opacity: 0.8;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 7.5rem;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.search {
  flex: 0 0 60%;
}
.search__input {
  height: 4.6rem;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: #fff;
  border: none;
  border-radius: 3rem;
  padding: 0.7rem 3rem;
  width: 90%;
  transition: all 0.2s;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #fff;
  color: #fff;
}
.btn--access:link,
.btn--access:visited {
  display: inline-block;

  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.6rem 4.2rem;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s;
}
